body {
    margin: 0px;
    background-color: #0eb69a;
    transition: background-color 0.5s ease;
    font-family: Arial, sans-serif;
    color: white;
}

header, footer {
    background-color: #14937e;
   color: white;
    padding: 20px;
}

.footer {
    color: black;
}
.to_shop {
    margin-bottom: 30px;
    border-style: none;
    background-color: #14937e;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.to_shop:hover {
    background-color: #00521d;
}

.letter {
    margin-bottom: 30px;
    border-style: none;
    background-color: #14937e;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.letter:hover {
    background-color: #00521d;
}

.button {
    display: inline-block;
}
